body {
	font-family: ninomtavr;
}

.container {
	max-width: 1640px;
	width: 100%;
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 207px;
}

.uli {
	display: flex;
}

.nav{
	display: flex;

}

.header-foto {
	background-image: url(../images/foto.jpg);
	height: 613px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.lii {
	margin-right: 110px;
}
.nav-a {
	color: inherit;
 }

 .white-box{
 	max-width: 673px;
 	width: 100%;
 	height: 328px;
 	background-color:#FCFCFC;
 	padding: 30px 0;
 }

 .white-box h2 {
 	font-size: 40px;
    color: #707070;
    margin-bottom: 50px;

 }
 .white-box p {
    font-size: 24px;
    margin-bottom: 32px;
    margin-left: 35px;
 }

 .readmore{
 	display: flex;
    margin-left: 35px;
 }

 .white-box svg {
 	    font-size: 30px;
 }

.section2 {
	padding-top: 80px;
}
 .section2-title {
 	margin-bottom: 70px;
 }
 .div-box {
 	display: flex;
 	flex-wrap: wrap;
 	justify-content:space-between;
 }

 .section2-block {
 	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .section2-block-box{
 	max-width: 483px;
 	width: 100%;
 }
 .section2-block-box-image{
 	margin-bottom: 23px;
 }
 .section2-block-box-image img {
 	width: 100%;
 }
 .section2-block-box-title{
 	margin-bottom: 33px;

 }
 .section2-block-box-p {
 	margin-bottom: 76px;
 	max-width: 446px;
 	width: 100%
 }
 .section2-block-box-more {
 	margin-right: 18px;
 	margin-bottom: 34px;
 	font-size: 24px;
 }
 .section2-block-box-more a{
 	float: right;
 }
 .section2-block-box-more::after {
 	content: " ";
 	display: block;
 	clear: right;
 }
.footer{
	height: 206px;
    width: 100%;
    background-color: #2E2E2E;
    margin-top: 68px;
    color: #F2F2F2;
}

.footer-container{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}
.social{
	font-size: 40px;
}
.contact h5,
.address h5{
    font-size: 20px;
}
.contact p,
.address p{
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 17px;
}
